*{
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background:rgb(25, 89, 126);
    font-family:Georgia, 'Times New Roman', Times, serif
  

}
.principal{
    overflow-x: hidden;
    background: url(/images/fondo.gif);
    background-size: cover;
    text-align: center;
    color: rgb(126, 51, 51);
    
  
}
nav{
   background: darkblue;
}
article{
    padding: 50px;
    margin-bottom: 15px;
    text-align: justify;
}
img{
    display: block;
    margin: 20px auto;
    border: rgb(84, 84, 139);
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif}
h2{
    color: white;
    font-weight: bold;

}
h5{
    font-size: 0.8em;
    font-weight: bold;
    font-family: cursive;

}/*
h4{
    font-weight: bold;
    font-size: 2.0em;
}*/

.redS{
    position: fixed;
    right: 0;
    top: 300px;
    z-index: 2000;
}
.redS ul{
    list-style: none;
    padding-left: 0;
}
.redS ul li a{
    display: inline-block;
    color: rgb(238, 144, 233);
    background: rgb(61, 53, 53);
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.facebook{
    padding: 2.5px;
}
.redS ul li a:hover{
    background: rgb(86, 58, 248);
    padding: 10px 30px;
}
@media screen and (max-width: 900px) {
    .redS ul li a:hover{
        background: rgb(86, 58, 248);
        padding: 10px 15px;
    }
}
@media (max-width:900px){
    form{
        width: 100%;
    }
    

}
footer{
    background:#34566b;
    padding: 40px 0 20px 0;
    margin: auto;
    overflow: hidden;
    text-align: center;
    
}
.contenedor{
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content:space-evenly;
    margin: auto;
  
}
article{
    border: 1px solid rgb(112, 110, 110);
    color: white;
    margin: auto;
    align-items: center;
    
}
.datos{
    border: 2px solid black;
}
/**/
.Gabby{    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px; 
}
.Contenido{
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.uno{
    display: flex;
    padding-left: 140px;
    margin-top: 40px;
}
.Nom-Ape{
    display: flex;
    margin-bottom: 2px;    
}
.apN, .FecHa{
    border: 1px solid rgb(69, 69, 245);
    background: #3760da;
    color: white;
    padding: 7px;
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.botones{
    display: flex;
    align-items: flex-start;
}
#Extraer{
    background: #e2c628;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
    margin-right: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    
}

#Colorear{
    background: #c01010;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
    margin-right: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
   
}

#NomApellidos, #FechaNac{
    align-self: center;
    padding: 10px;
    border: 1px solid rgb(247, 49, 49);
}
.primC{
    display: flex;
    margin-bottom: 2px;
}
.Contenido{
    background: #5acaa5;
    padding-top: 30px;
}
.primero{
    padding-right: 240px;
    padding-bottom: 50px;
}
.dos{
    display: flex;
    padding-left: 200px;
    padding-bottom: 50px;
}
.primT{
    display: flex;
    margin-bottom: 2px;
}
.pat,.mat,.nom{
    border: 1px solid rgb(69, 69, 245);
    background: #3760da;
    color: white;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
#mat{
    padding-right: 45px;
}
#pat{
    padding-right: 50px;
}
#nom{
    padding-right: 128px;
}
#apePaterno, #apeMaterno, #nombres{
    align-self: center;
    padding: 10px;
    border: 1px solid red;
}
.tres{
    padding-left: 80px;
}
.L, .E, .M{
    border: 1px solid rgb(187, 21, 21);
    background: #bb4e4e;
    color: white;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
#Lon, #Edad, #Mes{
    align-self: center;
    padding: 10px;
    border: 1px solid red;
}
#L{
    padding-right: 25px;
}
#E{
    padding-right: 168px;
}
#M{
    padding-right: 96px;
}  
