*{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(155, 225, 247);
    border: 1px solid black;
    text-align: center}
body{
    color: rgb(243, 240, 240); 
    background:url(/images/fond.jpg); 
    background-size: cover;
    text-align: center;}
    
h1{
    font-family:Georgia, 'Times New Roman', Times, serif}
h5{
    font-size: 0.8em;
    font-weight: bold;
    font-family: cursive;

}
h4{
    font-weight: bold;
    font-size: 2.0em;
}
nav{
    border: 1px solid black;
    display: block;
    background: rgb(93, 163, 168);
    text-align: left;
}
.seccion{
  
    margin: 20px;
    width: 600px;
    
}
article{
border: 2px solid black;
padding: 50px;
margin-bottom: 15px;
text-align: justify;

}
img{
    
    display: block;
    margin: 20px auto;

}
