*{
    
}
header{background: rgb(219, 157, 219);border: 1px solid black;text-align: center}
body{color: white; background: rgb(82, 82, 82); text-align: unset;text-align: center}
h3{font-family:unset}
footer{text-align: center;}
aside{text-align: center;}
nav{
    border: 1px solid black;
    display: block;
    background: rgb(7, 7, 7);
    text-align: left;
}
article{
    text-align: justify;
}
   


section{
    border:  1px solid rgb(83, 83, 81);
}